/* src/components/AppIcon.css */
.app-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100px;
  text-align: center;
  transition: transform 0.1s ease-in-out;
}

.app-icon-wrapper:hover {
  transform: scale(1.05);
}

.app-icon {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app-label {
  margin-top: 8px;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}