/* src/components/Dock.css */
.dock-container {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background: transparent;
  position: relative;
  z-index: 90;
}

.dock {
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 8px 15px;
  gap: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

body.theme-dark .dock {
  background: rgba(46, 54, 74, 0.6);
}

.dock-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dock-link,
.dock-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--item-dock-bg, #383838);
  padding: 8px;
  border-radius: 12px;
}

.dock-link:hover,
.dock-item a:hover {
  transform: scale(1.05);
}

.dock-link.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.dock-icon {
  font-size: 2.2em;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.dock-item:hover .dock-icon {
  transform: scale(1.07);
}

.dock-label {
  font-size: 0.7em;
  margin-top: 5px;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dock-item:hover .dock-label {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1280px) {
  .dock {
    padding: 6px 12px;
    gap: 12px;
    border-radius: 16px;
  }

  .dock-link,
  .dock-item a {
    padding: 6px;
    border-radius: 10px;
    font-size: 0.95em;
  }

  .dock-icon {
    font-size: 1.9em;
    width: 36px;
    height: 36px;
  }

  .dock-label {
    font-size: 0.65em;
  }
}

@media (max-width: 500px) {
  .dock-container {
    width: 100%;
    padding: 3px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dock {
    padding: 8px 8px;
    gap: 12px;
    border-radius: 14px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .dock-link,
  .dock-item a {
    padding: 5px;
    border-radius: 8px;
    font-size: 0.95em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dock-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dock-icon {
    font-size: 1.8em;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dock-label {
    font-size: 0.65em;
    margin-top: 2px;
    text-align: center;
  }
}

