/* src/components/ProjectImageWidget.css */
.project-image-widget {
  padding: 0;
  overflow: hidden; /* Garante que a imagem não saia das bordas */
}

.project-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}