/* src/components/StatusBar.css */
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  z-index: 100;
  position: sticky; /* Fica fixo no topo */
  top: 0;
  left: 0;
  right: 0;
}

.status-bar-left,
.status-bar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-bar-left .time {
  font-weight: bold;
}

/* .status-bar-center { 
} */