.tech-icons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* 2 ou 3 colunas, flexíveis */
  gap: 15px;
  justify-items: center;
  align-items: center;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* color: #555; */
  font-size: 0.85em;
  transition: transform 0.2s ease-in-out;
}

.tech-item:hover {
  transform: scale(1.07);
}

.tech-icon-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 5px;
}

.tech-name {
  word-break: break-word; /* Permite quebrar palavras longas */
  white-space: normal; /* Permite que o texto quebre linha */
}